body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p{
    text-align: center;
}

.table-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.export-to-excel {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.clear-table{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.clear-table:hover {
    background-color: darkred;
}

.export-to-excel:hover {
    background-color: #45a049;
}
